@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
* {
    font-family: 'Work Sans', sans-serif;
}
header{
    background-color: wheat;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500px;
    font-size: 1rem;
}
.nav-titel{
    font-size: 2.8rem;
}
nav li a{
    text-decoration: none;
    color: dimgrey;
}
